#senator-select .btn{
  width:140px;
}

#display-map{
  margin:auto;
  width:80%;
  height:600px;
  position:relative;
}

.jumbotron{
  padding:30px 20%;
  background:linear-gradient(whitesmoke,white);
}

a img:hover{
  position:relative;
  top:-1px;
}

.lead{
  padding:0px,50px;
}

.btn {
  width: 120px;
}
